  <!--/ Section Portfolio Star /-->
  <form action="/conductor/todo"></form>
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="m-t-40 text-center">
            <h3 class="title-a">
              Conductores
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
  <div class="text-center mt-3">
    <a href="/admin" class="btn btn-outline-primary mr-2 mb-3">Regresar</a>
</div>
<div class="row ">
    <div class="col-8" style="margin-right:auto; margin-left:auto;">
        <table class="table table-hover table-responsive-sm text-center">
            <thead class="thead-dark text-center">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                      Apellido
                    </th>
                    <th>
                      Teléfono
                    </th>
                    <th>
                      Curriculum
                    </th>
                </tr>
            </thead>
            <tbody>
        {{#each todo}}
                <tr>
                    <td>
                        {{nombre}}
                    </td>
                     <td>
                        {{apellido}}
                    </td>
                     <td>
                        {{telefono}}
                    </td>
                     <td>
                        {{curriculum}}
                    </td>  
                    {{!-- Activar y desactivar a un asociado --}}
                    {{!-- <td>
                        <a class="btn btn-primary mr-2" href="/servicio/editar/{{id_servicio}}" ></a>
                        <a class="btn btn-danger ml-2" href="/servicio/eliminar/{{id_servicio}}">Eliminar</a>
                    </td> --}}
                </tr>
                {{else}}
                <h1 class="text-danger text-center mb-2">No hay asociados</h1>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
