 <div class="container-login100 m-t-100" style="background-image: url('/img/conductor.jpg');">
        <div class="wrap-loginmedio p-l-55 p-r-55 p-t-50 p-b-30">
            <form class="login100-form validate-form" action="/conductor/editar/{{conductor.id}}" method="POST">
                <span class="login100-form-title p-b-37">
                    Datos del conductor
                </span>
                <input type="hidden" name="estado" value=1/>
                 <div class="wrap-input100 validate-input m-b-25 mt-2" data-validate="Subir foto del producto">
                    <div class="thumbnail text-center mt-2">
                        <a href="/img/s1.jpg">
                            <img src="/img/s1.jpg" alt="imagen no encntrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                        </a>
                    </div>
                    <label class="control-label letraMorada">Subir una imagen</label>
                     <input class="form-control-file pb-2 ml-3" value="{{conductor.foto_conductor}}">
                    <input type="file" class="form-control-file pb-2 ml-3" name="foto_conductor">
                    <span class="focus-input100"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20">
                            <input class="input100" type="text" name="nombre" value="{{conductor.nombre}}" placeholder="Nombre">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20">
                            <input class="input100" type="text" name="apellido" value="{{conductor.apellido}}" placeholder="Apellido">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-25">
                            <input class="input100" type="text" name="telefono" value="{{conductor.telefono}}" placeholder="Teléfono">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="wrap-input100 validate-input m-b-25" data-validate="Subir su Curriculum">
                    <label class="control-label letraMorada">Subir PDF</label>
                    <input type="file"class="form-control-file pb-2 ml-3" name="curriculum">
                    <input class="form-control-file pb-2 ml-3" value="{{conductor.curriculum}}">
                    <span class="focus-input100"></span>
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn mb-2 mr-2" type="submit">
                        Guardar
                    </button>
                    <a href="/conductor/vista" class="login100-form-btn mt-2 ml-2" type="submit">
                        Regresar
                    </a>
                </div>
            </form>


        </div>
    </div>