  <!--/ Section Portfolio Star /-->
  <form action="/producto/lista"></form>
  <section id="work" class="portfolio-mf sect-pt4 route m-t-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Productos
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="text-left mb-4">
        <a href="/asociado/vista" class="btn btn-primary mr-2">Regresar</a>
        <a href="/producto/crear" class="btn btn-primary ml-2">Crear un nuevo producto</a>
      </div>
      <div class="row">
        {{#each lista}}
        <div class="col-md-4">
          <div class="work-box"> <!--La foto del producto-->
            <a href="/imagenes/productos/{{foto_producto}}" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="/imagenes/productos/{{foto_producto}}" name="foto_producto" class="img-fluid" width="270px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title mb-2">Nombre producto: {{nombre_producto}}</h2>
                    <p class="card-text">Tipo: {{catalogo_producto}}</p>
                     <p class="card-text">Cantidad: {{cantidad}}</p>
                     <p class="card-text mb-2">Precio: ${{valor}}</p>
                        <a href="/producto/editar/{{id_producto}}" class="btn btn-primary mr-2 ml-4">Editar</a>
                        <a href="/producto/eliminar/{{id_producto}}" class="btn btn-danger ml-2">Eliminar</a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {{else}}
                <h1 class="text-danger text-center mb-2">No hay productos creados</h1>
        {{/each}}
        
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->