  <!--/ Section Portfolio Star /-->
  <form action="/producto/todo"></form>
<section class="m-t-120">
<h1 class="text-black text-center">Productos de los asociados</h1>
<div class="text-center mt-3">
    <a href="/admin" class="btn btn-outline-primary mr-2 mb-3">Regresar</a>
</div>
<div class="row ">
    <div class="col-8" style="margin-right:auto; margin-left:auto;">
        <table class="table table-hover table-responsive-sm text-center">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Asociado
                    </th>
                    <th>
                      Servicio
                    </th>
                    <th>
                      Producto
                    </th>
                    <th>
                      Cantidad
                    </th>
                    <th>
                      Precio/u
                    </th>
                    <th>
                      Imagen
                    </th>
                </tr>
            </thead>
            <tbody>
        {{#each todo}}
                <tr>
                    <td>
                        {{id_asociado}}
                    </td>
                     <td>
                        {{catalogo_producto}}<!--nombre de la categoria del producto-->
                    </td>
                    <td>
                       {{nombre_producto}}
                    </td>
                    <td>
                       {{cantidad}}
                    </td>
                    <td>
                       {{valor}}
                    </td>
                    <td>
                       <img src="/imagenes/productos/{{foto_producto}}" alt="imagen no encntrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                       
                    </td>
                </tr>
                {{else}}
                <h1 class="text-danger text-center mb-2">No hay producto creado</h1>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
</section>

  <!--/ Section Portfolio End /-->