<form action="/servicio/lista"></form>
  <!--/ Section Portfolio Star /-->
<section class="m-t-120">
<h1 class="text-black text-center">SERVICIOS</h1>
<div class="text-center mt-3">
    <a href="/admin" class="btn btn-outline-primary mr-2 mb-3">Regresar</a>
    <a href="/servicio/crear" class="btn btn-outline-primary ml-2 mb-3">Crear servicio</a>
</div>
<div class="row ">
    <div class="col-8" style="margin-right:auto; margin-left:auto;">
        <table class="table table-hover table-responsive-sm text-center">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Tipo de servicio
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {{#each lista}}
                <tr>
                    <td>
                        {{imagen}}
                    </td>
                     <td>
                        {{nombre}}
                    </td>
                     
                    <td>
                        <a class="btn btn-primary mr-2" href="/servicio/editar/{{id_servicio}}" >Editar</a>
                        <a class="btn btn-danger ml-2" href="/servicio/eliminar/{{id_servicio}}">Eliminar</a>
                    </td>
                </tr>
                {{else}}
                <h1 class="text-danger text-center mb-2">No hay servicio creado</h1>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
</section>
  <!--/ Section Portfolio End /-->
